@import 'src/assets/variables.scss';

.btn{
  position: relative;
  padding: 11px 18px;
  background: $btn-color;
  //border: 1px solid $btn-color;
  border: none;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $while-color;
}

.count{
  position: absolute;
  right: 6px;
  background-color: $background-color-product;
  border-radius: 30px;
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  height: 22px;
  line-height: 22px;
  width: 22px;
}

.text{
  padding: 0 15px 0 5px;
}