@import 'src/assets/variables.scss';

.product {

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: $black-color;
    margin-bottom: 35px;
  }

  &__notifications {
    text-align: center;
  }

  &__items {
    min-height: 500px;
    margin: 0 -17px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;

    @media (max-width: 720px) {
      justify-content: center;
    }
  }

}