@import 'src/assets/variables';

.sort {
  margin: 40px 30px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    margin: 0 -10px;
    overflow: auto;
  }

  &__item {
    background: $sort-color-btn;
    border-radius: 30px;
    padding: 13px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.3s ease-in;

    &:hover {
      background: $sort-color-btn-hover;
    }
  }

  &__active {
    background-color: $black-color;
    color: $while-color;
  }
}