$default-color: #2C2C2C;
$opacity-color: #7B7B7B;
$black-color: #000000;
$btn-color: #FE5F1E;
$while-color: #ffffff;
$btn-black-color: #282828;
$background-color-product: #4f4f4f;
$background-color: rgba(0, 0, 0, 0.83);
$background-color-hover: #C44712FF;
$border-color: #F7F7F7;
$sort-color-btn: #F7F7F7;
$sort-color-btn-hover: #e3e0e0;
$product-color-sort: #F3F3F3;
