@import 'assets/normalize.scss';
@import 'assets/variables';
@import 'global.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


body {
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: $default-color;
  background: $background-color;
  margin: 20px;
  letter-spacing: 0.01em;
}